<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <title>home</title>
  </head>

  <h1>home</h1>
  <table class="infobox vcard">
    <tbody>
      <tr>
        <th colspan="2" class="infobox-above">
          <div style="display: inline" class="fn">Mika Waltari</div>
        </th>
      </tr>
      <tr>
        <td colspan="2" class="infobox-image">
          <a
            href="/wiki/File:Mika_Waltari_1934.jpg"
            class="image"
            title="Mika Waltari in 1934"
            ><img
              alt="Mika Waltari in 1934"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Mika_Waltari_1934.jpg/220px-Mika_Waltari_1934.jpg"
              decoding="async"
              width="220"
              height="338"
              srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Mika_Waltari_1934.jpg/330px-Mika_Waltari_1934.jpg 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Mika_Waltari_1934.jpg/440px-Mika_Waltari_1934.jpg 2x
              "
              data-file-width="2500"
              data-file-height="3838"
          /></a>
          <div class="infobox-caption">Mika Waltari in 1934</div>
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Born
        </th>
        <td class="infobox-data" style="line-height: 1.4em">
          <span style="display: none"
            >(<span class="bday">1908-09-19</span>)</span
          >19 September 1908<br /><a href="/wiki/Helsinki" title="Helsinki"
            >Helsinki</a
          >,
          <a href="/wiki/Grand_Duchy_of_Finland" title="Grand Duchy of Finland"
            >Grand Duchy of Finland</a
          >
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Died
        </th>
        <td class="infobox-data" style="line-height: 1.4em">
          26 August 1979<span style="display: none">(1979-08-26)</span>
          (aged&nbsp;70)<br /><a href="/wiki/Helsinki" title="Helsinki"
            >Helsinki</a
          >, Finland
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Occupation
        </th>
        <td class="infobox-data role" style="line-height: 1.4em">
          Author, translator, academician
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Nationality
        </th>
        <td class="infobox-data category" style="line-height: 1.4em">
          Finnish
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Literary movement
        </th>
        <td class="infobox-data" style="line-height: 1.4em">
          <a href="/wiki/Tulenkantajat" title="Tulenkantajat">Tulenkantajat</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="infobox-full-data" style="line-height: 1.4em">
          <hr />
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="infobox-label"
          style="
            padding-top: 0.225em;
            line-height: 1.1em;
            padding-right: 0.65em;
          "
        >
          Signature
        </th>
        <td class="infobox-data" style="line-height: 1.4em">
          <a href="/wiki/File:Mika_Waltari_signature.svg" class="image"
            ><img
              alt=""
              src="//upload.wikimedia.org/wikipedia/commons/thumb/8/89/Mika_Waltari_signature.svg/160px-Mika_Waltari_signature.svg.png"
              decoding="async"
              width="160"
              height="43"
              srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/8/89/Mika_Waltari_signature.svg/240px-Mika_Waltari_signature.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/8/89/Mika_Waltari_signature.svg/320px-Mika_Waltari_signature.svg.png 2x
              "
              data-file-width="560"
              data-file-height="150"
          /></a>
        </td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li><a href="/home">See home Page</a></li>
    <li><a href="/about">See about Page</a></li>
    <li><a href="/works">See works Page</a></li>
    <li><a href="/photos">See photos Page</a></li>
  </ul>
</html>
