<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <title>gallery</title>
  </head>

  <h1>Gallery</h1>
  <img src="./mw1jpg.jpg" />
  <img src="./mw2.jpg" />

  <ul>
    <li><a href="/home">See home Page</a></li>
    <li><a href="/about">See about Page</a></li>
    <li><a href="/works">See works Page</a></li>
    <li><a href="/photos">See photos Page</a></li>
  </ul>
</html>
