<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <title>works</title>
  </head>

  <h1>Works</h1>

  <h3>
    <span class="mw-headline" id="Novels">Novels</span>
  </h3>
  <div class="div-col" style="column-width: 30em">
    <ul>
      <li><i>Jumalaa paossa</i> (1925)</li>
      <li><i>Suuri illusioni</i> (1928)</li>
      <li><i>Appelsiininsiemen</i> (1931)</li>
      <li>
        <i>Keisarin tekohampaat</i> (1931, with Armas J. Pulla, AKA Leo Rainio)
      </li>
      <li><i>Punainen Madonna</i> (1932, AKA Leo Rainio)</li>
      <li><i>Älkää ampuko pianistia!</i> (1932, AKA Leo Rainio)</li>
      <li>
        Helsinki trilogy:
        <ol>
          <li><i>Mies ja haave</i> (1933)</li>
          <li><i>Sielu ja liekki</i> (1934)</li>
          <li><i>Palava nuoruus</i> (1935)</li>
          <li>
            <i
              ><a href="/wiki/From_Father_to_Son" title="From Father to Son"
                >From Father to Son</a
              ></i
            >
            (<i>Isästä poikaan</i>) (1942). Abbreviated reprint of the trilogy
          </li>
        </ol>
      </li>
      <li><i>Surun ja ilon kaupunki</i> (1936)</li>
      <li>
        A Stranger Came to the Farm series:
        <ol>
          <li>
            <i
              ><a
                href="/wiki/A_Stranger_Came_to_the_Farm"
                title="A Stranger Came to the Farm"
                >A Stranger Came to the Farm</a
              ></i
            >
            (<i>Vieras mies tuli taloon</i>) (1937)
          </li>
          <li><i>Jälkinäytös</i> (1938)</li>
        </ol>
      </li>
      <li>
        <i>Ihmeellinen Joosef eli elämä on seikkailua</i> (1938, AKA M. Ritvala)
      </li>
      <li>
        <i
          ><a href="/wiki/Inspector_Palmu" title="Inspector Palmu"
            >Inspector Palmu</a
          ></i
        >
        series:
        <ol>
          <li><i>Kuka murhasi rouva Skrofin?</i> (1939)</li>
          <li>
            <i
              ><a
                href="/wiki/Inspector_Palmu%27s_Mistake_(novel)"
                title="Inspector Palmu's Mistake (novel)"
                >Inspector Palmu's Mistake</a
              ></i
            >
            (<i>Komisario Palmun erehdys</i>) (1940)
          </li>
          <li><i>Tähdet kertovat, komisario Palmu!</i> (1962)</li>
        </ol>
      </li>
      <li><i>Antero ei enää palaa</i> (1940). Novella</li>
      <li><i>Fine van Brooklyn</i> (1941). Novella</li>
      <li><i>Kaarina Maununtytär</i> (1942)</li>
      <li>
        <i>Ei koskaan huomispäivää!</i>, AKA
        <i>Kevät uuden maailmansodan varjossa</i> (1942). Novella
      </li>
      <li><i>Rakkaus vainoaikaan</i> (1943)</li>
      <li><i>Tanssi yli hautojen</i> (1944)</li>
      <li><i>Jokin ihmisessä</i> (1944). Novella</li>
      <li>
        <i>Sellaista ei tapahdu</i>, AKA <i>Unohduksen pyörre</i> (1944).
        Novella
      </li>
      <li>
        <i
          ><a href="/wiki/The_Egyptian" title="The Egyptian">The Egyptian</a></i
        >
        (<i>Sinuhe egyptiläinen</i>) (1945). Abridged translation
      </li>
      <li><i>Kultakutri</i> (1948). Novella</li>
      <li>
        The Adventurer series:
        <ol>
          <li>
            <i
              ><a
                href="/wiki/The_Adventurer_(novel)"
                title="The Adventurer (novel)"
                >The Adventurer</a
              ></i
            >, AKA <i>Michael The Finn</i> (<i>Mikael Karvajalka</i>) (1948)
          </li>
          <li>
            <i
              ><a
                href="/wiki/The_Wanderer_(Waltari_novel)"
                title="The Wanderer (Waltari novel)"
                >The Wanderer</a
              ></i
            >, AKA <i>The Sultan's Renegade</i> (<i>Mikael Hakim</i>) (1949)
          </li>
        </ol>
      </li>
      <li>
        <i
          ><a href="/wiki/A_Nail_Merchant_at_Nightfall" title=""
            >A Nail Merchant at Nightfall</a
          ></i
        >
        (<i>Neljä päivänlaskua</i>) (1949)
      </li>
      <li>
        The Dark Angel series:
        <ol>
          <li>
            <i
              ><a
                href="/wiki/The_Dark_Angel_(Waltari_novel)"
                title="The Dark Angel (Waltari novel)"
                >The Dark Angel</a
              ></i
            >
            (<i>Johannes Angelos</i>) (1952)
          </li>
          <li><i>Nuori Johannes</i> (1981). Published posthumously. Prequel</li>
        </ol>
      </li>
      <li>
        <i
          ><a href="/wiki/The_Etruscan" title="The Etruscan">The Etruscan</a></i
        >
        (<i>Turms, kuolematon</i>) (1955)
      </li>
      <li><i>Feliks onnellinen</i> (1958)</li>
      <li>
        The Secret of the Kingdom series:
        <ol>
          <li>
            <i
              ><a
                href="/wiki/The_Secret_of_the_Kingdom"
                title="The Secret of the Kingdom"
                >The Secret of the Kingdom</a
              ></i
            >
            (<i>Valtakunnan salaisuus</i>) (1959)
          </li>
          <li>
            <i><a href="/wiki/The_Roman" title="The Roman">The Roman</a></i> (<i
              >Ihmiskunnan viholliset</i
            >) (1964)
          </li>
        </ol>
      </li>
    </ul>
  </div>
  <h3>
    <span class="mw-headline" id="Short_story_collections"
      >Short story collections</span
    >
  </h3>
  <div class="div-col" style="column-width: 30em">
    <ul>
      <li>
        <i>Kuolleen silmät. Kertomuksia tuntemattoman ovilta</i> (1926, AKA
        Kristian Korppi)
      </li>
      <li><i>Dshinnistanin prinssi</i> (1929)</li>
      <li><i>Kiinalainen kissa ja muita satuja</i> (1932)</li>
      <li>
        <i>Novelleja</i>, AKA
        <i>Nainen tuli pimeästä ja muita novelleja</i> (1943). Contains 28 short
        stories:
        <ol>
          <li>
            I Poikia:
            <ul>
              <li>"Herääminen"</li>
              <li>"Pelkuri"</li>
              <li>"Kiusaus"</li>
              <li>"Salaseura "Hurjat hosujat"</li>
              <li>"Oi, nuoruus"</li>
            </ul>
          </li>
          <li>
            II Päivä paistaa:
            <ul>
              <li>"Nuori mies rakastaa"</li>
              <li>"Suomalaista rakkautta"</li>
              <li>"Kosto"</li>
              <li>"Ensimmäinen vuosi on pahin"</li>
              <li>"Mies ja hänen koiransa"</li>
              <li>"Huviretki"</li>
              <li>"Vanha mies herää kevääseen"</li>
              <li>"Helsingin kevät"</li>
            </ul>
          </li>
          <li>
            III Maa:
            <ul>
              <li>"Hannu Suolanhakijan tarina"</li>
              <li>"Rauhaton taival"</li>
              <li>"Omenapuut"</li>
              <li>"Ihminen on hyvä"</li>
              <li>"Huutokaupassa"</li>
              <li>"Juhlapäivä"</li>
              <li>"Mies kävelee talvista tietä"</li>
            </ul>
          </li>
          <li>
            IV Kaupunki:
            <ul>
              <li>"Pimeä piha"</li>
              <li>"Oli kerran pieni poika"</li>
              <li>"Poika palaa kotiin"</li>
              <li>"Äiti on sairas"</li>
              <li>"Mies herää unesta"</li>
              <li>"Hiilet hehkuvat"</li>
              <li>"Uusi rakennusmaa"</li>
            </ul>
          </li>
          <li>
            V Tuolta puolen:
            <ul>
              <li>"Nainen tuli pimeästä"</li>
            </ul>
          </li>
        </ol>
      </li>
      <li>
        <i>Kuun maisema</i> (1953). Contains 6 short stories:
        <ul>
          <li>"Jokin ihmisessä" (1944). Novella</li>
          <li>"Jäinen saari"</li>
          <li>"Moonscape" ("Kuun maisema"). Novella</li>
          <li>"Ennen maailmanloppua"</li>
          <li>"Pariisilaissolmio"</li>
          <li>"Ihmisen vapaus"</li>
        </ul>
      </li>
      <li>
        <i>Koiranheisipuu ja neljä muuta pienoisromaania</i> (1961). Contains 5
        short stories:
        <ul>
          <li>"The Tree of Dreams" ("Koiranheisipuu")</li>
          <li>
            "Ei koskaan huomispäivää!", AKA "Kevät uuden maailmansodan varjossa"
            (1942). Novella
          </li>
          <li>"Kultakutri" (1948). Novella</li>
          <li>"Fine van Brooklyn" (1941). Novella</li>
          <li>
            "Sellaista ei tapahdu", AKA "Unohduksen pyörre" (1944). Novella
          </li>
        </ul>
      </li>
      <li>
        <i>Pienoisromaanit</i> (1966). Contains 13 short stories:
        <ul>
          <li>"Multa kukkii" (1930). Novella</li>
          <li>
            "Ei koskaan huomispäivää!", AKA "Kevät uuden maailmansodan varjossa"
            (1942). Novella
          </li>
          <li>"Fine van Brooklyn" (1941). Novella</li>
          <li>
            "Sellaista ei tapahdu", AKA "Unohduksen pyörre" (1944). Novella
          </li>
          <li>"Jokin ihmisessä" (1944). Novella</li>
          <li>"Nainen tuli pimeästä"</li>
          <li>"Kultakutri" (1948). Novella</li>
          <li>"Ennen maailmanloppua"</li>
          <li>"Moonscape" ("Kuun maisema"). Novella</li>
          <li>"Jäinen saari"</li>
          <li>"Pariisilaissolmio"</li>
          <li>"Ihmisen vapaus"</li>
          <li>"The Tree of Dreams" ("Koiranheisipuu")</li>
        </ul>
      </li>
      <li><i>Lukittu laatikko ja muita kertomuksia</i> (1978)</li>
      <li>
        <i>Joulutarinoita</i> (1985). Contains 57 short stories:
        <ul>
          <li>"Kapinalliset naiset"</li>
          <li>"Aili, Bonzo ja suuri saippuapallo"</li>
          <li>"Eräs joululahja"</li>
          <li>"Hentomielinen mies"</li>
          <li>"Hiilet hehkuvat"</li>
          <li>"Hirveä päivä"</li>
          <li>"Hyvyys ja rauha"</li>
          <li>"Hyvästi, Joulupukki..."</li>
          <li>"Insinööri Jalovaaran uskomaton seikkailu"</li>
          <li>"Isoäiti"</li>
          <li>"Joulu"</li>
          <li>"Joulu on jo ovella&nbsp;: leikkiä ja totta joulusta 1940"</li>
          <li>"Joulu, ihmeellinen, palaamaton"</li>
          <li>"Joulu, samettikoira ja minä"</li>
          <li>"Jouluaatto, vuokra-auto ja onnellinen loppu"</li>
          <li>"Jouluaattona"</li>
          <li>"Joululahjasäkeitä"</li>
          <li>"Joululaulu"</li>
          <li>"Joululoma ja valokuva"</li>
          <li>"Jouluna 1940"</li>
          <li>"Joulutarina 1962"</li>
          <li>"Jouluyö Atlas-vuorilla"</li>
          <li>"Juhlapäivä"</li>
          <li>"Kaikki on hyvin, mutta..."</li>
          <li>"Kaksi pientä koiraa"</li>
          <li>"Kamreeri Miettinen kertoo joululomastaan"</li>
          <li>"Keittiömies Petterin onni"</li>
          <li>"Kirjailijan joulu"</li>
          <li>"Koti ja taivas"</li>
          <li>"Kotiinpaluu"</li>
          <li>"Maan viisaus"</li>
          <li>"Merimiehen jouluilta"</li>
          <li>"Myöhästyneet joululahjat"</li>
          <li>"Nuoren Anttonin jouluaatto"</li>
          <li>"Nuori Henrik"</li>
          <li>"Pienen mustan koiran joulu"</li>
          <li>"Pieni villipeto"</li>
          <li>"Pikkujouluna kerromme sadun urhoollisesta Pörristä"</li>
          <li>"Prinsessan joululahja"</li>
          <li>"Rangaistuskomppanian joulu"</li>
          <li>"Ratkaisun edessä"</li>
          <li>"Rauhaton taival"</li>
          <li>"Riimikronikka joulukirjoista"</li>
          <li>"Satu Joulupukin suurimmasta salaisuudesta"</li>
          <li>
            "Satu Kimistä ja Kaista, jotka matkustivat kuuhun elefantilla"
          </li>
          <li>
            "Satu Pekasta ja äidin punaisesta huivista ja murheellisesta
            joulupukista"
          </li>
          <li>"Taiteilijan joulu&nbsp;: satu aikuisille"</li>
          <li>"Triest"</li>
          <li>"Tuntematon tie"</li>
          <li>"Tyttö katsoi äitiään"</li>
          <li>"Täti Hortensian kaunein satu"</li>
          <li>"Unelmien kude"</li>
          <li>"Vaatimaton jouluruno"</li>
          <li>"Vanha tietäjä"</li>
          <li>"Vanhaisäntä käy kaupungissa"</li>
          <li>"Yllätys isälle"</li>
          <li>"Yö sairaalassa"</li>
        </ul>
      </li>
      <li><i>Viisi ässää ja muita kertomuksia</i> (1999)</li>
    </ul>
  </div>

  <ul>
    <li><a href="/home">See home Page</a></li>
    <li><a href="/about">See about Page</a></li>
    <li><a href="/works">See works Page</a></li>
    <li><a href="/photos">See photos Page</a></li>
  </ul>
</html>
